<div *ngIf="error" class="bg-dark add-container d-flex justify-content-center align-content-center">
  <div class="alert alert-danger d-flex align-items-center mt-5 w-75 alerta-container" role="alert">
    <div class="m-auto">
      <span class="fw-bold">Ocurrió un error al cargar las tareas.</span>
    </div>
  </div>
</div>

<div *ngIf="!error" class="bg-dark">
  <br>
  <h2 class="m-3 text-white">Tareas</h2>
  <div *ngIf="cargando" class="d-flex justify-content-center mt-3 text-primary add-container">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
  </div>
  <div class="w-100 row justify-content-center align-items-center">
      <app-tarea-card *ngFor="let tarea of tareas" [tarea]="tarea" class="col-12 col-md-6 col-lg-4 m-2"></app-tarea-card>
  </div>
</div>