<div *ngIf="tarea">
  <h2>Editar Tarea</h2>
  <form [formGroup]="formulario" (ngSubmit)="enviar()">
    <div>
      <label for="titulo">Título:</label>
      <div class="validador" *ngIf="formulario.controls && formulario.controls"></div>
      <textarea id="titulo" formControlName="titulo" [class.is-invalid]="tieneErrores('titulo', 'required')"></textarea>
      <div *ngIf="tieneErrores('titulo', 'required')" class="invalid-feedback">
        El título es obligatorio.
      </div>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea id="descripcion" formControlName="descripcion" [class.is-invalid]="tieneErrores('descripcion', 'required')"></textarea>
      <div *ngIf="tieneErrores('descripcion', 'required')" class="invalid-feedback">
        La descripción es obligatoria.
      </div>
    </div>
    <div>
      <label for="asignado">Asignado a:</label>
      <input type="text" id="asignado" formControlName="asignado" [class.is-invalid]="tieneErrores('asignado', 'required')">
      <div *ngIf="tieneErrores('asignado', 'required')" class="invalid-feedback">
        El asignado es obligatorio.
      </div>
    </div>
    <div>
      <label for="fecha_fin">Fecha de fin:</label>
      <input type="date" id="fecha_fin" formControlName="fecha_fin" [class.is-invalid]="tieneErrores('fecha_fin', 'required')">
      <div *ngIf="tieneErrores('fecha_fin', 'required')" class="invalid-feedback">
        La fecha de fin es obligatoria.
      </div>
    </div>
    <div>
      <label for="estado">Estado:</label>
      <input type="text" id="estado" formControlName="estado" [class.is-invalid]="tieneErrores('estado', 'required')">
      <div *ngIf="tieneErrores('estado', 'required')" class="invalid-feedback">
        El estado es obligatorio.
      </div>
    </div>
    <button type="submit" [disabled]="formulario.invalid">Guardar Cambios</button>
  </form>
</div>
